body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    font-family: sans-serif;
}

.continer {
background-color: beige;
padding: 30px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}

h1 {
    color: black;
    margin: 0;
}